
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Vous êtes sur le point de supprimer définitivement " <span class="bg-light">heelo world this is dârta</span> " </mat-card-title>
      <mat-card-subtitle><h4>Ëtes Vous Sur ?</h4></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class=" example-card  ">
    <span class="container row col-12">
    <button mat-flat-button color="primary"(click)="delete()" class="col-5 ml-5">Oui</button>
    <button mat-flat-button color="accent" (click)="cancel()" class="col-5 ml-2">Non</button>
    </span>
    
  </mat-card>



