<div  class="container col-12 h-100 " >
    <div class="row p-5 ">
        <span class="m-5">
            <h3>Bienvenus cher Visteur</h3>
        </span>
        <div class="row col-12 my-3">
          <h4>Définition de l'application</h4>
          <span class="mt-2">
              Cette application n’as pas de sémantique elle est à titre éducatif.
              se n'est qu'une implementation de <strong>l'architecture Microservice </strong> avec Spring Boot et Angular  
          </span>
          <span class="col py-2 mt-5 text-center">
              <button class="btn btn-info" (click)="doc()">Plus d'infos</button>
          </span>
        </div>
    </div>

</div>